# ignore quartus compilation files
monitor/fpga/db/**
monitor/fpga/incremental_db/**
monitor/fpga/output_files/**
monitor/fpga/simulation/**
monitor/fpga/*.qpf
monitor/fpga/*.qsf
monitor/fpga/*.qsf.bak
monitor/fpga/*.qws

hardware/spi_master/db/**
hardware/spi_master/incremental_db/**
hardware/spi_master/output_files/**
hardware/spi_master/simulation/**
hardware/spi_master/*.qpf
hardware/spi_master/*.qsf
hardware/spi_master/*.qsf.bak
hardware/spi_master/*.qws

hardware/final/db/**
hardware/final/incremental_db/**
hardware/final/simulation/**
hardware/final/*.qsf
hardware/final/*.qsf.bak
hardware/final/*.qws

hardware/PPL_v1/db/**
hardware/PPL_v1/incremental_db/**

# ignore python stuff
__pycache__
